<ion-content class="custom-bg-color">
  <ion-icon name="close-circle" (click)="close()" class="close-icon"></ion-icon>

  <swiper-container class="sp-bg-color">
    <swiper-slide *ngFor="let slide of slides" class="slide">
      <div [style.backgroundColor]="slide.background ? slide.background : ''" class="slide-content">
        <ion-avatar class="style-avatar">
          <img alt="Avatar" src="{{slide.avatar}}" />
        </ion-avatar>
        <h2 class="slide-title">{{slide.title}}</h2>
        <ion-icon name="{{slide.icon}}" class="slide-icon"></ion-icon>
        <img src="{{slide.image}}" class="slide-image" />
        <p class="slide-description">{{slide.description}}</p>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
