<ion-header style="margin-bottom: 20px">
  <ion-toolbar>
    <ion-button
      slot="start"
      aria-label="Favorite"
      (click)="regresar()"
      fill="clear"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center">HOME</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <h1 style="margin-top: 0">Artistas</h1>
  <swiper-container slides-per-view="5" speed="400">
    <swiper-slide
      *ngFor="let artstis of artists"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      "
    >
      <ion-avatar (click)="showSongs(artstis)">
        <img src="{{artstis?.image}}" />
      </ion-avatar>
      <p style="color: #000; margin-top: 5px; font-size: 12px">
        {{artstis?.name}}
      </p>
    </swiper-slide>
  </swiper-container>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start"
        >{{ parseTime(currentSong?.currentTime) || "0:00" }}</ion-col
      >
      <ion-col class="ion-text-end"
        >{{ parseTime(currentSong?.duration) || "0:00" }}</ion-col
      >
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime || 0"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="heart"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-text
          >{{ song.name || "Aun no has seleccionado cancion" }}</ion-text
        >
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-icon name="play" (click)="play()" *ngIf="!song?.playing"></ion-icon>
        <ion-icon
          name="pause"
          (click)="pause()"
          *ngIf="song?.playing"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
